.flex-all-center{
    display: flex;
    height: 10vh;
    background-color: rgb(62, 62, 245);
    color: white;
    justify-content: center;
    align-items: center;
}
li{
    display: inline;
    padding: 15px;
}
h1{
    margin-right: 15px;
}
#t{
width: 30dvw;
height: 4dvh;
    margin-left: 50px;
}
button{
    margin-left: 10px;
}
.list{
    
    display: flex;
    height:10dvh;
    width: 100dvw;
    background-color: rgb(62, 62, 245);
    color: white;
    align-items: center;
}
 

